@model SocialPlatform.Models.User
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken();

<div>
    <p>
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </p>
    <p>
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </p>
    <p>
        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </p>
    <p>
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </p>
    @Html.ActionLink("Login", "Login") | 
    <input type="submit" value="Sign Up" />
</div>
}
